@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="main">
    <div class="row">
        <div class="col-md-9 col-md-offset-3">
            <div class="flexslider ma-nivoslider">
                <div class="ma-loading"></div>
                <div id="ma-inivoslider-banner7" class="slides">
                    <img src="~/Content/images/slider/slide-011.jpg" class="dn" alt="" title="#banner7-caption1" />
                    <img src="~/Content/images/slider/slide-021.jpg" class="dn" alt="" title="#banner7-caption2" />
                </div>
            </div><!-- /.flexslider -->
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 col-left">
           
            <div class="block">
            </div><!-- /.block - Special offer -->
        </div><!-- /.col-left -->
        <div class="col-sm-9 col-right">
            <div class="featuredproductslider-container">
                <div class="title-group1"><h2>Featured</h2></div>
                <div id="featured-products" class="owl-container">
                    <div class="owl">

                        <!-- ------------------- -->
                        @foreach (var i in (IEnumerable<MyWebsite.Models.Entities.SAN_PHAM>)ViewBag.listFeatured)
                        {
                            <div class='productslider-item item'>
                                <div class="item-inner">
                                    <div class="images-container">
                                        <div class="product_icon">
                                            <div class='new-icon'><span>new</span></div>
                                        </div>
                                        <a href="/Products/Detail/@i.MaSP" title="" class="product-image">
                                            <img src="@i.HinhAnh" height="273" alt="Nunc facilisis" />
                                        </a>
                                        <div class="box-hover">
                                            <ul class="add-to-links">
                                                <li><a href="/Products/Detail/@i.MaSP" class="link-quickview">View Detail</a></li>
                                             
                                                <li>@Html.ActionLink("Add to Cart", "Add", "BakeryCart",new { ID= @i.MaSP }, null)</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="des-container">
                                        <h2 class="product-name"><a href="/Products/Detail/@i.MaSP" title="Nunc facilisis">@i.TenSP</a></h2>
                                        <div class="price-box">
                                            <p class="special-price">
                                                <span class="price-label">Special Price</span>
                                                <span class="price">@i.DonGia</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        <!-- ------------------- -->
                    </div>
                </div>
            </div><!-- /.featuredproductslider-container -->
            <div class="banner">
                <a href="#"><img alt="" src="~/Content/images/ads/ads-05.jpg"></a>
            </div>
            <div class="newproductslider-container">
                <div class="title-group1"><h2>New Arrivals</h2></div>
                <div id="new-products" class="owl-container">
                    <div class="owl">
                        @foreach (var i in (IEnumerable<MyWebsite.Models.Entities.SAN_PHAM>)ViewBag.listArrivals)
                        {
                            <div class='productslider-item item'>
                                <div class="item-inner">
                                    <div class="images-container">
                                        <div class="product_icon">
                                            <div class='new-icon'><span>new</span></div>
                                            <div class="sale-icon"><span>sale</span></div>
                                        </div>
                                        <a href="/Products/Detail/@i.MaSP" title="Nunc facilisis" class="product-image">
                                            <img src="@i.HinhAnh" height="273" alt="Nunc facilisis" />
                                        </a>
                                        <div class="box-hover">
                                            <ul class="add-to-links">
                                                <li><a href="/Products/Detail/@i.MaSP" class="link-quickview">Quick View</a></li>
                                                <li><a href="#" class="link-wishlist">Add to Wishlist</a></li>
                                                <li><a href="#" class="link-compare">Add to Compare</a></li>
                                                <li>@Html.ActionLink("Add to Cart", "Add", "BakeryCart", new { ID = @i.MaSP }, null)</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="des-container">
                                        <h2 class="product-name"><a href="/Products/Detail/@i.MaSP" title="Nunc facilisis">@i.TenSP</a></h2>
                                        <div class="price-box">
                                            <p class="special-price">
                                                <span class="price-label">Special Price</span>
                                                <span class="price">@i.DonGia</span>
                                            </p>
                                            <p class="old-price">
                                                <span class="price-label">Regular Price: </span>
                                                <span class="price">$189.00</span>
                                            </p>
                                        </div>
                                        <div class="ratings">
                                            <div class="rating-box">
                                                <div class="rating" style="width:67%"></div>
                                            </div>
                                            <span class="amount"><a href="#">3 Review(s)</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div><!-- /.newproductslider-container -->
            <div class="row">
                <div class="col-smc-7">
                    <div class="banner">
                        <a href="#"><img alt="" src="~/Content/images/ads/ads-06.jpg"></a>
                    </div>
                </div>
                <div class="col-smc-5">
                    <div class="banner">
                        <a href="#"><img alt="" src="~/Content/images/ads/ads-07.jpg"></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="title-group"><h2>Random</h2></div>
                    <!-- product-list -->
                    <div class="product-list">
                        @foreach (var item in (IEnumerable<MyWebsite.Models.Entities.SAN_PHAM>)ViewBag.listRandom)
                        {
                            <div class="products-grid">
                                <div class="images-container">
                                    <a class="product-image" title="@item.TenSP " href="/Products/Detail/@item.MaSP"><img alt="@item.TenSP " height="103" src="@item.HinhAnh"></a>
                                </div>
                                <div class="des-container">
                                    <h2 class="product-name"><a title="@item.TenSP" href="/Products/Detail/@item.MaSP">@item.TenSP </a></h2>
                                    <div class="ratings">
                                        <div class="rating-box">
                                            <div style="width:67%" class="rating"></div>
                                        </div>
                                        <span class="amount">@Html.ActionLink("Add to Cart", "Add", "BakeryCart",new { ID= @item.MaSP }, null)</span>
                                    </div>
                                    <div class="price-box">
                                        <p class="special-price">
                                            <span class="price">@item.DonGia</span>
                                        </p>
                                        <p class="old-price">
                                            <span class="price">$189.00</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div><!-- /.product-list -->
                </div>
                <div class="col-sm-4">
                    <div class="title-group"><h2>Cheapest</h2></div>
                    <div class="product-list">
                        @foreach (var item in (IEnumerable<MyWebsite.Models.Entities.SAN_PHAM>)ViewBag.listCheapest)
                        {<div class="products-grid">
                        <div class="images-container">
                            <a class="product-image" title="@item.TenSP " href="/Products/Detail/@item.MaSP"><img height="103" alt="@item.TenSP" src="@item.HinhAnh"></a>
                        </div>
                        <div class="des-container">
                            <h2 class="product-name"><a title="Accumsan elit " href="/Products/Detail/@item.MaSP">@item.TenSP</a></h2>
                            <div class="ratings">
                                <div class="rating-box">
                                    <div style="width:67%" class="rating"></div>
                                </div>
                                <span class="amount">@Html.ActionLink("Add to Cart", "Add", "BakeryCart", new { ID = @item.MaSP }, null)</span>

                            </div>
                            <div class="price-box">
                                <p class="special-price">
                                    <span class="price">@item.DonGia</span>
                                </p>
                                <p class="old-price">
                                    <span class="price">$189.00</span>
                                </p>
                            </div>
                        </div>
                    </div>

                        }
                    </div><!-- /.product-list -->
                </div>
                <div class="col-sm-4">
                    <div class="title-group"><h2>Hot sale</h2></div>
                    <div class="product-list">
                    @foreach (var item in (IEnumerable<MyWebsite.Models.Entities.SAN_PHAM>)ViewBag.listUpsell)
                    {
                        <div class="products-grid">
                            <div class="images-container">
                                <a class="product-image" title="@item.TenSP " href="/Products/Detail/@item.MaSP"><img height="103" alt="@item.TenSP" src="@item.HinhAnh"></a>
                            </div>
                            <div class="des-container">
                                <h2 class="product-name"><a title="@item.TenSP" href="/Products/Detail/@item.MaSP">@item.TenSP </a></h2>
                                <div class="ratings">
                                    <div class="rating-box">
                                        <div style="width:67%" class="rating"></div>
                                    </div>
                                    <span class="amount">@Html.ActionLink("Add to Cart", "Add", "BakeryCart", new { ID = @item.MaSP }, null)</span>

                                </div>
                                <div class="price-box">
                                    <p class="special-price">
                                        <span class="price">@item.DonGia</span>
                                    </p>
                                    <p class="old-price">
                                        <span class="price">$189.00</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                      
                   
                    </div><!-- /.product-list -->
                </div>
            </div>
        </div><!-- /.col-right -->
    </div>
</div> 