@using MyWebsite.Models.Bean
@model IEnumerable<MyWebsite.Models.Bean.ItemCart>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Shopping Cart</li>
        </ul>
    </div>
</div>
<div class="main">
    
    <div class="container">
        <div class="cart">
            <form>
                <div class="table-responsive">
                    <table class="table custom-table">
                        <thead>
                            <tr class="first last">
                                <th>Remove</th>
                                <th>Image</th>
                                <th>Product Name</th>
                                <th>Edit</th>
                                <th>Quantity</th>
                                <th>Subtotal</th>
                                <th>Grandtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td class="text-center"><a class="btn-remove" href="Delete/@item.ID"><span class="fa fa-trash-o"></span></a></td>
                                    <td>
                                        <a class="product-image" title="@item.Name" href="/Products/Detail/@item.ID">
                                            <img alt="@item.Name" height="154" src="@item.Images">
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#">@item.Name</a>
                                        <div class="text-muted">
                                            Size: 42<br>
                                            Color: Red
                                        </div>
                                    </td>
                                    <td class="text-center"><a href="">Edit</a></td>
                                    <td class="qty">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button class="btn" type="button">-</button>
                                            </span>
                                            <input type="text" class="form-control" disabled="disabled" value="@item.Amount">
                                            <span class="input-group-btn">
                                                <a href="/BakeryCart/Add/@item.ID"><button class="btn" type="button">+</button></a>
                                            </span>
                                        </div><!-- /input-group -->
                                    </td>
                                    <td class="subtotal">@item.Price</td>
                                    <td class="grandtotal">@item.getTotal()</td>
                                </tr>
                            }

                        </tbody>
                        
                    </table>
                </div>
                <div class="text-right">
                    <a href="/Home/Index" class="btn btn-default btn-md">CONTINUE SHOPPING</a>
                 
                </div>
                <div class="line2"></div>
                <div class="row">
                
                    <div class="col-sm-4">
                        @{ 
                            double totalMoney = 0;
                            double totalAmount = 0;
                            BakeryCart cart = (BakeryCart)Session["cart"];
                            if(cart!=null)
                                {
                                totalMoney = cart.getTotalCart();
                                totalAmount = cart.getAmount();
                            }
                        }
                        <table class="table table-cart-total">
                            <tr>
                                <td>Subtotal:</td>
                                <td class="text-right">@totalMoney</td>
                            </tr>
                            <tr>
                                <td>Grandtotal:</td>
                                <td class="text-right">@totalMoney</td>
                            </tr>
                        </table>
                        <div class="text-right">
                            <p><button type="button"class="btn btn-default btn-md fwb">PAY</button></p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
    