@model IEnumerable<MyWebsite.Models.Entities.DANH_MUC>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>DANH SÁCH DANH MỤC</h2>

<p>
    @Html.ActionLink("Tạo mới danh mục", "Create","", new { @style = "color:blue;" })
</p>
<table class="table">
    <tr>
        <th> 
            @Html.DisplayNameFor(model => model.TenDM)
            </th>
        <th> 
            @Html.DisplayNameFor(model => model.ThuTu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrangThai)
        </th>
        <th>
            Thao tác
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenDM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThuTu)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.TrangThai)*@
            @if (item.TrangThai == true)
                {   <img src="/Areas/Admin/Content/img/icon/icon_tt.png" />}
                else
                {
                <img src="/Areas/Admin/Content/img/icon/icon_k_tt.png" />  }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaDM }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaDM }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaDM })
        </td>
    </tr>
}

</table>
