@using MyWebsite.Models
@using MyWebsite.Models.DAO
@model IEnumerable<MyWebsite.Models.Entities.SAN_PHAM>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="breadcrumbs">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Category List</li>
            </ul>
        </div>
    </div>

    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-left">
                    <div class="block block-layered-nav">
                        <div class="block-title">
                            <strong><span>Sort By</span></strong>
                        </div>
                        <div class="block-content">
                            <p class="block-subtitle">Shopping Options</p>
                            <div id="narrow-by-list">
                                <div class="layered layered-Category">
                                    <h2>Category</h2>
                                    <div class="content-shopby">
                                        <ol>
                                            @{
                                                CategoryDAO cat = new CategoryDAO();
                                                foreach (var item in cat.ListCategory())
                                                {
                                                    <li><a href="#">@item.TenDM</a></li>
                                                }
                                            }
                                        </ol>
                                    </div>
                                </div>
                                <div class="layered layered-price">
                                    <h2>Price</h2>
                                    <div class="content-shopby">
                                        <div id="slider-range"></div>
                                        <div id="search_pr">
                                            <input type="text" name="first_price" class="form-control">
                                            <input type="text" name="last_price" class="form-control">
                                            <button id="search_price" name="search_price" type="button" class="btn btn-default">SHOW</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="layered layered-Manufacturer">
                                    <h2>Manufacturer</h2>
                                    <div class="content-shopby">
                                        <ol>
                                            <li><a href="#">Aliquam</a></li>
                                            <li><a href="#">Duis tempus id </a></li>
                                            <li><a href="#">Leo quis molestie. </a></li>
                                            <li><a href="#">Suspendisse </a></li>
                                            <li><a href="#">Nunc gravida </a></li>
                                        </ol>
                                    </div>
                                </div>
                                <div class="layered layered-Color">
                                    <h2>Color</h2>
                                    <div class="content-shopby">
                                        <ol>
                                            <li><a href="#">Red</a></li>
                                            <li><a href="#">Orange</a></li>
                                            <li><a href="#">Blue</a></li>
                                            <li><a href="#">Black</a></li>
                                            <li><a href="#">Green</a></li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /sort -->
                </div><!-- /.col-left -->
                <div class="col-sm-9 col-right">
                    <div class="banner">
                        <a href="#"><img alt="banner" src="/Content/images/ads/ads-05.jpg"></a>
                    </div>
                    <div class="page-title">
                        <h1>CATEGORY LIST</h1>
                    </div>
                    <div class="toolbar">
                        <div class="sorter">
                            <p class="view-mode">
                                <label>View as:</label>
                                <a class="grid" title="Grid" href="#">Grid</a>&nbsp;
                                <strong class="list" title="Lit">List</strong>&nbsp;
                            </p>
                        </div><!-- /.sorter -->
                        <div class="pager">
                            <div class="sort-by hidden-xs">
                                <label>Sort By:</label>
                                <select class="form-control input-sm">
                                    <option selected="selected">Position</option>
                                    <option>Name</option>
                                    <option>Price</option>
                                </select>
                                <a title="Set Descending Direction" href="#"><span class="fa fa-sort-amount-desc"></span></a>
                            </div>
                            <div class="limiter hidden-xs">
                                <label>Show:</label>
                                <div class="limiter-inner">
                                    <select class="form-control input-sm">
                                        <option>9</option>
                                        <option selected="selected">12</option>
                                        <option>24</option>
                                        <option>36</option>
                                    </select>
                                </div>
                            </div>
                        </div><!-- /.pager -->
                    </div><!-- /.toolbar -->

                    <ol id="products-list" class="products-list">

                        @{foreach (var item in Model)
                            {
                                if (item != null)
                                {
                                <li class="item">
                                    <div class="item-inner">
                                        <div class="row">
                                            <div class="col-sm-4 col-sms-4 col-smb-12">
                                                <div class="images-container">
                                                    <div class="product_icon">
                                                        <div class="new-icon"><span>new</span></div>
                                                        <div class="sale-icon"><span>sale</span></div>
                                                    </div>
                                                    <a class="product-image" title="@item.TenSP" href="/Products/Detail/@item.MaSP" rel="author"><img alt="Fusce aliquam" src="@item.HinhAnh" height="320"></a>
                                                </div>
                                            </div>
                                            <div class="product-shop col-sm-8 col-sms-8 col-smb-12">
                                                <div class="f-fix">
                                                    <h2 class="product-name"><a title="@item.MaSP" href="#">@item.TenSP</a></h2>
                                                    <div class="ratings">
                                                        <div class="rating-box">
                                                            <div style="width:67%" class="rating"></div>
                                                        </div>
                                                        <span class="amount"><a href="#">1 Review(s)</a></span>
                                                    </div>
                                                    <div class="price-box">
                                                        <p class="special-price">
                                                            <span class="price-label">Special Price</span>
                                                            <span id="product-price-1" class="price">@item.DonGia</span>
                                                        </p>
                                                    </div>
                                                    <div class="desc std">
                                                        @item.ChiTiet <a class="link-learn" title="Fusce aliquam" href="/Products/Detail/@item.MaSP">Learn More</a>
                                                    </div>
                                                    <div class="actions">
                                                        <div class="actions-inner">
                                                            <ul class="add-to-links">
                                                              <li>@Html.ActionLink("Add to Cart", "Add", "BakeryCart", new { ID = @item.MaSP }, null)</li>
                                                            </ul>
                                                                @*<input type="button" value="add to cart"  onclick="location.href='@Html.ActionLink("", "Add", "BakeryCart",new { ID= @item.MaSP }, null)'"/>*@

                                                                <ul class="add-to-links">
                                                                    <li><a title="Wishlist" class="link-wishlist" href="#"><em class="tooltip">Wishlist</em>Add to Wishlist</a></li>
                                                                </ul>
</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                    }
                                }
                            }
                    </ol>

                </div><!-- /.col-right -->
            </div>
        </div>
    </div><!-- /.main -->
